.table {
  height: 50px;
  border: 2px solid black;
}

.hideAndShow {
  border: 2px solid black;
  margin: 0px 10px;
  max-width: 20vw;
  padding: 5px 10px;
}

.fp {
  display: flex;
  margin: 20px 0px;
}
